* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper__matrix {
  cursor: pointer;
  margin-bottom: 3vh;
}

.wrapper__table--input input {
  width: 4vw;
  padding: 1.25vh 1vw;
  margin: 2px;
  border: 1px solid black;
  outline: none;
  border-radius: 5em;
}

.wrapper__btn--matrix {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: none;
  border-radius: 5em;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.wrapper__solution--matrix {
  display: none;
  border: 1px solid black;
  background: white;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 290px;
  width: 920px;
}
